<nav
  class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary"
  id="navbar-main"
  style="padding-top: 2rem; padding-bottom: 2rem"
>
  <div class="container px-lg-0">
    <!-- Logo -->

    <!-- Navbar collapse trigger -->
    <button
      class="navbar-toggler pr-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-main-collapse"
      aria-controls="navbar-main-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar nav -->
    <div class="collapse navbar-collapse" id="navbar-main-collapse">
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-lg-none d-xl-block">
          <a class="nav-link" href="/">Login / Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
